# PyMuPDF
# PaddleOCR
# Pydantic
# python-dotenv
# google-genai

# PyMuPDF==1.26.4
# pydantic==2.11.7
# python-dotenv==1.1.1
# google-genai==1.31.0

# paddlepaddle==3.2.0
# paddleocr==3.2.0

PyMuPDF==1.26.4
Pydantic==2.11.7
python-dotenv==1.1.1
google-genai==1.31.0

paddlepaddle==3.2.0
paddleocr==3.2.0

numpy==2.2.6
Pillow==11.3.0